extends base

include _sortby

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/tour.jpg);')
        include _tourBanner                    
    section.gray-bg
        .container
            .row
                .col-md-4.col-sm-12
                    include _sidebar
                .col-md-8.col-sm-12
                    .row.mrg-0
                        +sortByRow('/tours-grid-sidebar','/tours-list-sidebar')

                    .row
                        each tour,i in tours
                            .col-md-6.col-sm-6
                                article.tour-box.style-1
                                    // Single Tour
                                    .tour-box-image
                                        figure
                                            a(href=`/tour/${tour.slug}`)
                                                img.img-responsive.listing-box-img(src=`assets/img/tour/tour-${i+1}-cover.jpg` alt='')
                                                .list-overlay
                                            .entry-bookmark
                                                a(href='#')
                                                    i.ti-bookmark
                                            .tour-time
                                                i.ti.ti-car
                                                span= `${tour.duration} hrs`
                                            h4.destination-place
                                                a(href=`/tour/${tour.slug}`)= tour.startLocation.description
                                            span.featured-tour
                                                i.fa.fa-star
                                            a.list-like.left(href=`/tour/${tour.slug}`)
                                                i.ti-heart
                                    .entry-meta
                                        .meta-item.meta-author
                                            .coauthors
                                                span.vcard.author
                                                    span.fn
                                                        a(href='#')
                                                            img.avatar.avatar-24(alt='' src=`assets/img/user-${i+1}.jpg` height='24' width='24')
                                                            =`difficulty: ${tour.difficulty}`
                                        .meta-item.meta-comment.fl-right
                                            i.ti-comment-alt
                                            span= tour.ratingsQuantity
                                        .meta-item.meta-rating.fl-right
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-half
                                    .inner-box
                                        .box-inner-ellipsis
                                            h4.entry-title
                                                a(href='#')= tour.name
                                            .price-box
                                                .tour-price.fl-right
                                                    i.ti.ti-user
                                                    span.theme-cl.f-bold= `$${tour.price}`
                    
                    include _pagination
block content_footer 
    include _footer