extends base

include _sortby



block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/tour.jpg);')
        include _tourBanner
    section.gray-bg
        .container
            // Row
            .row.mrg-0
                +sortByRow('tours-grid', 'tours-list')
            .row
                each tour,i in tours
                    .col-lg-6.col-md-6
                        article.tour-box.list-style
                            .row
                                .col-md-5.col-sm-5
                                    .tour-box-image
                                        a(href=`/tour/${tour.slug}`)
                                            img.img-responsive.tour-box-img(src=`assets/img/tour/tour-${i+1}-cover.jpg` alt='')
                                        .entry-bookmark
                                            a(href='#')
                                                i.ti-bookmark
                                        .tour-time
                                            i.ti.ti-car
                                            span 17h
                                .col-md-7.col-sm-7
                                    .inner-box
                                        .discount-flick -22%
                                        .box-inner-ellipsis
                                            div(style='margin: 0px; padding: 0px; border: 0px;')
                                                h3.entry-title
                                                    a(href=`/tour/${tour.slug}`)= tour.name
                                                .entry-content
                                                    p= tour.summary
                                                    span.price
                                                        | From 
                                                        strong.theme-cl= `${tour.price} per person`
                                        .entry-meta
                                            .meta-item.meta-author
                                                .coauthors
                                                    span.vcard.author
                                                        span.fn
                                                            a(href='#')
                                                                img.avatar.avatar-24(alt='' src=`assets/img/user-${i+1}.jpg` height='24' width='24')
                                                                = `difficulty: ${tour. difficulty}`
                                            .meta-item.meta-comment.fl-right
                                                i.ti-comment-alt
                                                span= tour.ratingsQuantity
                                            .meta-item.meta-rating.fl-right
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star-half
            
            include _pagination

    block content_contact 
        include _contact
block content_footer 
    include _footer