extends base

include _sortby

block navigation_content 
    include _navigation
block content 
    .page-title.image-title(style='background-image:url(assets/img/tour.jpg);')
      include _tourBanner

    // ======================= End Page Title =====================
    // =========== Start All Tour In Grid View ====================
    section.gray-bg
      .container
        // Row
        .row.mrg-0
          +sortByRow('/tour-grid','/tour-list')

        // /Row
        .row
          each tour,i in tours
            .col-md-4.col-sm-6
              article.tour-box.style-1
                // Single Tour
                .tour-box-image
                  figure
                    a(href=`/tour/${tour.slug}`)
                      img.img-responsive.listing-box-img(src=`assets/img/tour/tour-${i+1}-cover.jpg`, alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .list-overlay
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .entry-bookmark
                      a(href='#')
                        i.ti-bookmark
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .tour-time
                      i.ti.ti-car
                      span= `${tour.duration} hrs`
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h4.destination-place
                      a(href='#')= tour.name
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.featured-tour
                      i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a.list-like.left(href='#')
                      i.ti-heart
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .entry-meta
                  .meta-item.meta-author
                    .coauthors
                      span.vcard.author
                        span.fn
                          a(href='#')
                            img.avatar.avatar-24(alt='', src=`assets/img/user-${i+1}.jpg`, height='24', width='24')
                            =`difficulty: ${tour.difficulty}`
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .meta-item.meta-comment.fl-right
                    i.ti-comment-alt
                    span= tour.ratingsQuantity
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .meta-item.meta-rating.fl-right
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-star-half
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .inner-box
                  .box-inner-ellipsis
                    h4.entry-title
                      a(href='#')= tour.startLocation.description
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .price-box
                      .tour-price.fl-right
                        i.ti.ti-user
                        span.theme-cl.f-bold= `$${tour.price}`
        | &#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;
        include _pagination
    block content_contact 
        include _contact


block content_footer 
    include _footer