extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                        include _dashboard_sidebar
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title Manage Hotels
                            .tr-single-body
                                .row
                                    each doc in payload
                                        .col-md-4.col-sm-6
                                            article.hotel-box.style-1
                                                .hotel-box-image
                                                    figure
                                                        a(href='/edit-hotel')
                                                            img.img-responsive.listing-box-img(src=`assets/img/hotel/${doc.imageCover}` alt='')
                                                            .list-overlay
                                                            .read_more
                                                                span Read more
                                                        .discount-flick -12%
                                                        h4.hotel-place
                                                            a(href='#')= doc.city
                                                .entry-meta
                                                    .meta-item.meta-rating
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star
                                                        i.fa.fa-star-half
                                                    .meta-item.meta-comment.fl-right
                                                        span.real-price.padd-l-10= `From $${doc.price}/Person`
                                                .edit-hotel-box
                                                    .hotel-ellipsis
                                                        h4.hotel-name
                                                            a(href='/edit-hotel')= doc.name
                                                        p= doc.summary
                                                .hotel-inner.inner-box
                                                    .box-inner-ellipsis
                                                        .hotel-review.entry-location
                                                            span.review-status.bg-success
                                                                i.ti-check
                                                            h6
                                                                span.cl-success.font-bold Good
                                                                //- span.cl-danger.font-bold Poor
                                                                //- span.cl-warning.font-bold Fair
                                                                //- span.cl-info.font-bold Superb
                                                                | 1587 Review
                                                        .view-box
                                                            .fl-right
                                                                span
                                                                    i.ti-eye.padd-r-5
                                                                    | 658
                                .row
                                    ul.pagination
                                        li.page-item
                                            a.page-link(href='#' aria-label='Previous')
                                                span.ti-arrow-left
                                                span.sr-only Previous
                                        li.page-item
                                            a.page-link(href='#') 1
                                        li.page-item
                                            a.page-link(href='#') 2
                                        li.page-item.active
                                            a.page-link(href='#') 3
                                        li.page-item
                                            a.page-link(href='#') 4
                                        li.page-item
                                            a.page-link(href='#') 5
                                        li.page-item
                                            a.page-link(href='#' aria-label='Next')
                                                span.ti-arrow-right
                                                span.sr-only Next
    block content_contact 
        include _contact

//- block content_footer 
//-     include _footer