extends base

block navigation_content 
    include _navigation
block content 
    section.dashboard.gray-bg.padd-0.mrg-top-50
        h2#user_id.hidden.fs-title= user._id 

        .container-fluid
            .row
                .col-lg-2.col-md-2.col-sm-3.dashboard-bg
                    // /. NAV TOP
                    nav.navbar.navbar-side
                        // Start Logo Header Navigation
                        .navbar-header
                            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                                i.fa.fa-bars
                        include _dashboard_sidebar
                    // /. NAV SIDE
                .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
                    .row.mrg-0.mrg-top-20
                        .tr-single-box
                            .tr-single-header
                                h3.dashboard-title My Profile
                            .tr-single-body
                                -const nameArray = user.name.split(" ")
                                form#msform
                                    .row
                                        .col-md-4
                                            p
                                                label *Name
                                                input#name.form-control( type='text' value=nameArray.toString().split(",").join(" ") name='firstname' required)
                                            p
                                                label *Email
                                                input#useremail.form-control( type='text' value=user.email name='useremail' required)
                                            p
                                                label About Me
                                                textarea#about_me.form-control(name='about_me' )= user.metadata.aboutme?user.metadata.aboutme: ""
                                            p
                                                label I live in
                                                input#live_in.form-control(type='text' value=`${user.metadata.livein?user.metadata.livein: ""}` name='live_in')
                                            p
                                                label I speak
                                                input#i_speak.form-control(type='text' value=`${user.metadata.ispeak?user.metadata.ispeak: ""}` name='i_speak')
                                            p
                                                label Address
                                                input#address.form-control(type='text' value=`${user.metadata.address?user.metadata.address: ""}` name='address')
                                            p
                                                input.next.action-button(type='button' name='update' value='update' id="profile_update")
                                                h2#prof_error.fs-title ALL FIELDS ARE REQUIRED

                                        .col-md-4
                                            p
                                                label Phone
                                                input#userphone.form-control(type='number' value=`${user.metadata.phone?user.metadata.phone: ""}` name='userphone')
                                            p
                                                label city
                                                input#usercity.form-control(type='text' value=`${user.metadata.city?user.metadata.city: ""}` name='city')

                                            p
                                                label Facebook Url
                                                input#userfacebook.form-control(type='text' value=`${user.metadata.facebookurl?user.metadata.facebookurl: ""}` name='userfacebook')
                                            p
                                                label Twitter Url
                                                input#usertwitter.form-control(type='text' value=`${user.metadata.twitterurl?user.metadata.twitterurl: ""}` name='usertwitter')
                                            p
                                                label Linkedin Url
                                                input#userlinkedin.form-control(type='text' value=`${user.metadata.linkedinurl?user.metadata.linkedinurl: ""}` name='userlinkedin')
                                            p
                                                label Pinterest Url
                                                input#userpinterest.form-control(type='text' height='100' value=`${user.metadata.pinteresturl?user.metadata.pinteresturl: ""}` name='userpinterest')

                                        .col-md-4
                                            #profile-div.feature-media-upload
                                                img#profile-image.img-responsive(src='assets/img/user-3.jpg' alt='user image')
                                                #upload-container
                                                    #aaiu-upload-container(style='position: relative;')
                                                        button#aaiu-uploader.btn.theme-btn.full-width(type='file') Upload Image
                                                    span.upload_explain * recommended size: minimum 550px 
                                    // /col-md-4
    block content_contact 
        include _contact

    script(src='/assets/js/profile.js')


//- block content_footer 
//-     include _footer